<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- Entity Framework configuration section -->
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework"
				 requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- Connection String -->
	<connectionStrings>
		<add name="TodoConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;
                           Initial Catalog=TodoNotesDb;
                           Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Entity Framework provider -->
	<entityFramework>
		<defaultConnectionFactory
		  type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>

		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

</configuration>
